/*
Display
model box (margin padding, etc.)
fonts
others
*/

:root {
  --serif-font: "Parisienne", cursive;
  --san-serif-font: "Prompt", sans-serif;
  --main-color: #f7f6f2;
  --secondary-color: #52694e;
  --third-color: #ded4c8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
}

.first-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--main-color);
}

.content {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
  height: 100vh;
  text-align: left;
}

h1{
  text-align: left;
}

p{

}

.button-view{

}

.secod-page{

}

.icons{

}