/*
Display
model box (margin padding, etc.)
fonts
others
*/

:root {
  --serif-font: "Parisienne", cursive;
  --san-serif-font: "Prompt", sans-serif;
  --bck-color1: #52694e;
  --bck-color2: #f3f0e7;
  --button-color: #ded4c8;
  --sm: 14px;
  --md: 18px;
  --lg: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
}

main {
  position: relative;
  overflow: hidden;
}

.first-page {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: var(--bck-color1);
}

.content {
  width: 300px;
  height: 100vh;
  padding: 36px 0 0 0;
  text-align: left;
}

h1 {
  font-family: var(--san-serif-font);
  font-size: var(--lg);
  font-weight: 400;
  color: white;
}

p {
  font-family: var(--san-serif-font);
  font-size: var(--sm);
  font-weight: 100;
  line-height: 25px;
  text-align: start;
  margin: 16px 0;
  color: white;
}

.button-view {
  border: none;
  border-radius: 20px 4px;
  height: 50px;
  width: 50%;
  background-color: var(--button-color);
}

.freyja {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 420px;
}

.second-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  gap: 13%;
  width: 100%;
  height: 100vh;
  background-color: var(--bck-color2);
}

.caja-ruleta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 2rem;
}

.button-left,
.button-rigth {
  border-style: none;
  border-radius: 5rem;
  height: 25px;
  width: 25px;
  background-color: var(--button-color);
  cursor: pointer;
}
.button-left:hover,
.button-rigth:hover, svg:hover {
  width: 25.8px;
  transition: all ease-in 0.1s;
  background-color: var(--bck-color1);
  stroke: var(--bck-color2);
}

svg {
  padding-right: 0.2rem;
  stroke: blue;
  stroke-width: 0.3rem;
  border-radius: 5rem;
}

.caja-ruleta :nth-child(1) {
  display: flex;
  gap: 2rem;
}

.ruleta {
  display: flex;
  place-items: center;
  height: 250px;
  width: 200px;
  background-color: #dcd2c6;
}

footer {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  width: 100%;
  background-color: var(--bck-color2);
}

.background-icons {
  background-color: var(--bck-color1);
  border-radius: 5rem;
}

.redes {
  display: grid;
  align-items: center;
  width: 5rem;
  height: 4rem;
  margin: 0.8rem 0.2rem;
}

@media (min-width: 430px) {
}
@media (min-width: 1114px) {
  main {
    display: flex;
    flex-direction: row;
  }

  .freyja {
    top: 65%;
  }

  .second-page {
    justify-content: center;
    align-items: end;
  }

  .caja-ruleta {
    margin-right: 8rem;
  }

  footer {
    gap: 2rem;
    justify-content: flex-end;
    padding-right: 7rem;
  }

  .redes {
    width: 2rem;
    height: 2rem;
    margin: 0.6rem;
  }
}
